@import url('https://fonts.googleapis.com/css2?family=Shadows+Into+Light&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  
}
body{
  font-family: "Permanent Marker", Helvetica, sans-serif;
  background: linear-gradient(to bottom, #b26bd1, #a679db, #9a86e1, #9192e5, #8a9ce7, #7da8ef, #72b4f5, #69bff8, #52cffe, #41dfff, #46eefa, #5ffbf1);
  color: #704A81;
  
}
.container {
  width: 100vw;
  height: 100vh;
  display:flex;
  justify-content: center;
  align-items: center;
  flex-direction: column; 
}
.total-area {
  display: block;
  justify-content: center;
  width: 350px;
  height: 450px;
  background-image: radial-gradient(circle, #b26bd1, #a679db, #9a86e1, #9192e5, #8a9ce7, #7da8ef, #72b4f5, #69bff8, #52cffe, #41dfff, #46eefa, #5ffbf1);
  border-radius: 10px;
  border: 0;
  box-shadow: rgba(128, 123, 123, 0.17) 0px -23px 25px 0px inset, rgba(116, 106, 106, 0.15) 0px -36px 30px 0px inset, rgba(116, 110, 110, 0.1) 0px -79px 40px 0px inset, rgba(109, 103, 103, 0.06) 0px 2px 1px, rgba(173, 170, 170, 0.09) 0px 4px 2px, rgba(134, 131, 131, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(29, 22, 22, 0.09) 0px 32px 16px;
 
}
.select-start {
  display: none;
  flex-direction: column;
  width: 400px;
  height: 200px;
  border: 1px solid #b26bd1;
  font-size: 20px;
  box-shadow: rgba(128, 123, 123, 0.17) 0px -23px 25px 0px inset, rgba(116, 106, 106, 0.15) 0px -36px 30px 0px inset, rgba(116, 110, 110, 0.1) 0px -79px 40px 0px inset, rgba(109, 103, 103, 0.06) 0px 2px 1px, rgba(173, 170, 170, 0.09) 0px 4px 2px, rgba(134, 131, 131, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(29, 22, 22, 0.09) 0px 32px 16px;
  border-radius: 15px;
  padding: 20px;
}

h1 {
  display:block;
  padding: 10px;
  text-align: center;
  font-size: 40px;
  font-weight: 700;
}
.bar{
  width: 100%;
  height: 2px;
  background-color: #704A81;
}
button.player_x, .player_o {
  height: 35px;
  width: 150px;
  margin-top: 10px;
  margin-left: 15px;
  background-color: #704A81;
  color:#5FFBF1;
  border-radius: 15px;
  border: 0;
  box-shadow: rgba(128, 123, 123, 0.17) 0px -23px 25px 0px inset, rgba(116, 106, 106, 0.15) 0px -36px 30px 0px inset, rgba(116, 110, 110, 0.1) 0px -79px 40px 0px inset, rgba(109, 103, 103, 0.06) 0px 2px 1px, rgba(173, 170, 170, 0.09) 0px 4px 2px, rgba(134, 131, 131, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(29, 22, 22, 0.09) 0px 32px 16px;
  font-size: 20px;
  font-family: "Permanent Marker", Helvetica, sans-serif;
  cursor: pointer;
}
.player_x:hover, .player_o:hover {
  background-color: #5FFBF1;
  color:#704A81;
}


.player{
  display: none;
  width: 350px;
  height: 40px;
  font-size: 25px;
  margin: 30px 15px;
}
.player-x, .player-o {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  width: 160px;
  border-radius: 50px;
}
.player-x{
  background-color: #704A81;
  color:#5FFBF1;
}

.winner{
  display: block;
  font-size: 25px;
  text-align: center;
  align-items: center;
  margin: 30px;
}

h2 {
  display: block;
  padding: 10px;
  text-align: center;
  font-size: 50px;
  font-weight: 700;
}

.area {
  width: 300px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin-left: 10px;
  
}
.box {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 70px;
  margin: 5px;
  width: 100px;
  height: 100px;
  border: 5px solid #5a3569;
  cursor: pointer;
  border-radius: 10px;
  box-shadow: rgba(128, 123, 123, 0.17) 0px -23px 25px 0px inset, rgba(116, 106, 106, 0.15) 0px -36px 30px 0px inset, rgba(116, 110, 110, 0.1) 0px -79px 40px 0px inset, rgba(109, 103, 103, 0.06) 0px 2px 1px, rgba(173, 170, 170, 0.09) 0px 4px 2px, rgba(134, 131, 131, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(29, 22, 22, 0.09) 0px 32px 16px;
}

.box:hover{
  background-color: #7be0da;
}

.reset{
  display: block;
  width: 100px;
  height: 50px;
  font-family: "Permanent Marker", Helvetica, sans-serif;
  font-size: 20px;
  font-weight: 700;
  border-radius: 15px;
  cursor: pointer;
  border: 0;
  background-color: #5FFBF1;
  margin-top: 30px;
  box-shadow: rgba(128, 123, 123, 0.17) 0px -23px 25px 0px inset, rgba(116, 106, 106, 0.15) 0px -36px 30px 0px inset, rgba(116, 110, 110, 0.1) 0px -79px 40px 0px inset, rgba(109, 103, 103, 0.06) 0px 2px 1px, rgba(173, 170, 170, 0.09) 0px 4px 2px, rgba(134, 131, 131, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(29, 22, 22, 0.09) 0px 32px 16px;
  color: #704A81;
}

.reset:hover {
  background-color: #704A81;
  color:#5FFBF1;
}
  